body {
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: blue;
}

.quem-somos {
    background-color: cyan;
    color: black;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background: yellowgreen;
}

.bg-footer {
    background-color: black;
    color: white;
}